.gen-display {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow-y: auto;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0;
    overflow: hidden;
  }

  &-footer {
    @include set-background($primary-color);
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 0px -5px 5px $shadow;

    span {
      width: 100%;
      text-align: center;
    }
  }
}
