.gen-display {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: auto;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &-footer {
    @include set-background($primary-color);
    display: flex;
    align-items: center;
    padding: 15px;

    span {
      width: 100%;
      text-align: center;
    }
  }
}

.css-label {
  width: 100%;
  font-size: 2rem;
  align-self: auto;
  justify-self: stretch;
}