.sidebar {
  height: 100vh;
  overflow-y: auto;
  background: $background-color;
  border-right: $primary-color-border;
  padding-bottom: 20px;

  &-banner {
    display: flex;
    border-bottom: $primary-color-border;
  }

  &-title {
    @include set-background($primary-color);
    padding: 20px;
    border-bottom-right-radius: 15px;
  }

  &-heading {
    flex: 1;
    align-self: center;
    text-align: center;
  }
}
